@model CleanArch.Application.ViewModels.CategoryViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />

@*<div class="container body-content">
        <div class="row category-content">
            @foreach (var category in Model.Categories)
            {
                <div class="category-image-container ">
                    <div class="category-image" style="background-image:url(@category.Image)">
                    </div>
                </div>
                <h2>@category.Name</h2>
                <h3>@category.Content</h3>
                <h4>@category.Products</h4>

            }
        </div>
    </div>*@

<p>
    <a asp-action="Create">Create New </a>
</p>
      <table class="table table-bordered table-striped text-center table-hover js-basic-example dataTable">

                        @*<table class="table table-bordered table-striped text-center table-hover js-basic-example dataTable" style="width:800px">*@
@*
<table class="table">*@
    <thead>
        <tr>
            <th style="width:200px">
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model.Categories)
        {
            <tr>
                <td style="width:200px">
                    @*<img width="80" height="80" src="~/images/@item.Image" class="rounded-circle" alt="">*@
                    <div class="category-image" style="background-image:url('/images/@item.Image')"></div>
</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    <a asp-action="/home">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.CategoryId">Edit</a> |
                    <a asp-action="AddImage" class="btn btn-info" asp-route-id="@item.CategoryId">Add Image</a> |
                    <a asp-action="Details" class="btn btn-success" asp-route-id="@item.CategoryId">Details</a> |
                    <a asp-action="Delete" class="btn btn-secondary" asp-route-id="@item.CategoryId">Delete</a>|
                    <a asp-controller="products" class="btn btn-danger" asp-action="ProCat" asp-route-id="@item.CategoryId">All Product In This Category </a>|

                    @* Categories/Details/3
        //https://localhost:44301/Products/ProCat/4*@

                </td>
            </tr>
        }
    </tbody>
</table>
<link href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"  rel="stylesheet"/>

@section DataTableSection{


    <script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

    <script>$(function () {
            $('.js-basic-example').DataTable({
                responsive: true,
                paging: true,
                pageLength: 10,
                bSort: true,
                bFilter: true,
                bLengthChange: true,
                bInfo: true,
                lengthMenu: [[3, 5, 10, 25, 50, -1], [3, 5, 10, 25, 50, "All"]],

            });
        });</script>
}